@import "tailwindcss";

:root {
  --brand-orange:#f97316;
  --brand-red:#dc2626;
  --brand-dark:#252525;

  --ui-bg:#f8fafc;
  --ui-border:#e5e7eb;
  --ui-text:#111827;
}

body {
  background: var(--ui-bg);
  color: var(--ui-text);
  font-family: var(--font-jakarta), sans-serif;
}